*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Pallet
    #F4F6FF{245, 247, 255}
    #F3C623{244, 199, 37}
    #EB8317{235, 134, 25}
    #10375C{16, 55, 91}
*/

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Danfo&display=swap');

/* -------------------- Universal -------------------- */

/* Numbering */
.numbering{
    padding: 0px 0px;
    display: flex;
    align-items: center;
    width: 100%;

    span.number{
        font-size: 180px;
        color: #ccc;
    }

    p{
        font-size: 40px;
        transform: translate(-120px, 0px);
    }
}

.width-900{
    width: 900px;
}

/* Numbering End */ 

/* -------------------- Universal End -------------------- */

/* Custom Fonts Start */

@font-face {
    font-family: Danfo;
    src: url(./fonts/Danfo-Regular-VariableFont_ELSH.ttf);
}

@font-face {
    font-family: Anton;
    src: url(./fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: Antonio;
    src: url(./fonts/Antonio-VariableFont_wght.ttf);
}

@font-face {
    font-family: AntonSC;
    src: url(./fonts/AntonSC-Regular.ttf);
}

@font-face {
    font-family: PlayFair;
    src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

/* Custom Fonts End */

/* -------------------- Go to top button Start -------------------- */

.button{
    display: block;
    background-color: transparent;
    position: fixed;
    z-index: 99;
    background: none;
    border: none;
    transition: all ease-out 0.5s;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.button:hover{
    background-color: #fff;
}

#myBtn{
    padding: 20px;
    outline: none;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease-out 0.5s;
}

#myBtn:hover{
    transform: rotate(360deg);
    color: #000;
}

/* -------------------- Go to top button End -------------------- */

/* -------------------- Nav Start -------------------- */

body{
    background-color: #F4F6FF;
}

.nav-wrapper{
    height: auto;
    width: 100%;
    background-color: #10375C;
    justify-content: space-between;
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logos{
        display: flex;
        align-items: center;
        gap: 30px;

        .logo-image{
            height: 50px;
        }

        img{
            height: 30px;
            width: auto;
        }
    }

    img{
        width: 350px;
    }

    ul{
        display: flex;
        gap: 20px;

        li{
            list-style: none;
            
            .nav-links{
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            a{
                color: #428ee6;
                font-size: 20px;
                padding: 10px 10px;
                padding-bottom: 5px;
                border: none;
                transition: all ease-out 0.25s;
                text-decoration: none;
                border-bottom: #1E3E62;
                font-family: 'Anton';
                letter-spacing: 0.7px;
            }

            a:hover{
                color: rgba(244, 199, 37, 1);
                padding-bottom: 0px;
                border-bottom: 2px solid rgba(244, 199, 37, 1);
                letter-spacing: 3px;
            }
        }
    }
}

/* -------------------- Nav End --------------------  */

/* -------------------- Home Wrapper -------------------- */

.home-wrapper{
    width: 100%;
    height: 90vh;
    /* Background Video Element */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .command-line{
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 80px;
        font-family: 'AntonSC';
        color: rgba(0, 0, 0, 0.8);
        
        p{
            span.imp-word{
                font-family: 'Danfo';
                font-size: 100px;
                color: rgba(0, 0, 0, 1);
            }

            span.imp-word{
                font-family: 'Danfo';
                font-size: 100px;
                color: rgba(0, 0, 0, 1);
            }
        }
    }
    
    .sub-command-line{
        justify-content: left;
        width: 900px;
        font-size: 30px;
        font-family: 'Antonio';

        span{
            color: #F3C623;
            transition: all ease-out 0.25s;
        }

        span:hover{
            font-size: 35px;
        }
    }
    
    .home-buttons{
        width: 900px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 40px;
        a{
            color: #000;
            font-size: 30px;
            text-decoration: none;
            padding: 20px;
            border-radius: 20px;
            font-family: 'Antonio';
            font-weight: 900;
        }
        
        button{
            font-size: 25px;
            text-decoration: none;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 20px;
            border-radius: 30px;
            border: 2px solid rgb(79, 12, 7);
            transition: all ease-out 0.5s;
            cursor: pointer;
        }

        button:hover{
            background-color: #fff;
            color: #000;
            border: 2px solid#000;
        }
    }
}

/* -------------------- Home Wrapper End -------------------- */

/* -------------------- About Us Start -------------------- */

.aboutus-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    .aboutus{

        .heading-overlapped{
            position: relative;

            .heading{
                padding: 0;
                margin: 0;
                font-size: 60px;
                font-family: 'Anton';
            }

            .heading-0{
                position: absolute;
                z-index: 5;
                top: 0;
                left: 0;
            }

            .heading-1{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
                color: rgba(244, 199, 37, 0.8);
                transition: all ease-out 0.25s;
            }

            .heading-2{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                color: rgba(244, 199, 37, 0.6);
                transition: all ease-out 0.25s;
            }

            .heading-3{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                color: rgba(244, 199, 37, 0.4);
                transition: all ease-out 0.25s;
            }

            .heading-4{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                color: rgba(244, 199, 37, 0.2);
                transition: all ease-out 0.25s;
            }
        }

        .heading-overlapped:hover .heading-1{
            left: 20px;
        }

        .heading-overlapped:hover .heading-2{
            left: 40px;
        }

        .heading-overlapped:hover .heading-3{
            left: 60px;
        }

        .heading-overlapped:hover .heading-4{
            left: 80px;
        }

        p.aboutus-para-large{
            font-size: 80px;
            font-family: sans-serif;
            padding-top: 100px;
            font-family: 'Antonio';
            font-weight: 100;

            span{
                color: #F3C623;
                text-decoration: underline 2px black;
            }
        }

        p.aboutus-para{
            font-size: 23px;
            font-family: sans-serif;
            padding-top: 10px;
        }
    }
}

/* -------------------- About Us End -------------------- */

/* -------------------- What we do -------------------- */

.what-we-do-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;

    .what-we-do{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        
        .heading{
            padding: 0;
            margin: 0;
            font-size: 60px;
            font-family: 'Anton';
        }
        
        .main-box-what-we-do{
            padding: 30px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 40px;
            width: 100%;
            
            .sub-box-what-we-do{
                display: flex;
                gap: 40px;
                height: 100%;
                
                .indi-box{
                    height: auto;
                    color: #000;
                    background: linear-gradient(to right, #10375C 50%, #fff 50%);
                    background-size: 200% 100%;
                    background-position: right;
                    border-radius: 30px;
                    width: 400px;
                    transition: all ease-out 0.5s;
                    padding: 30px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    overflow: hidden;

                    .images{

                        img{
                            height: 50px;
                            width: auto;
                            margin: 20px 10px;
                        }

                        .one{
                            display: none;
                        }

                        .two{
                            display: block;
                        }
                    }


                    .heading{
                        font-size: 30px;
                        text-align: center;
                    }

                    .sub-heading{
                        font-size: 20px;
                        font-family: sans-serif;
                        padding: 0px 20px;
                    }
                }
                
                .indi-box:hover{
                    box-shadow: rgba(244, 199, 37, 1) 15px 15px 0px;
                    background-position: left;
                    color: #fff;
                }

                .indi-box-1:hover .one{
                    display: block;
                }

                .indi-box-1:hover .two{
                    display: none;
                }

                .indi-box-2:hover .one{
                    display: block;
                }

                .indi-box-2:hover .two{
                    display: none;
                }

                .indi-box-3:hover .one{
                    display: block;
                }

                .indi-box-3:hover .two{
                    display: none;
                }

                .indi-box-4:hover .one{
                    display: block;
                }

                .indi-box-4:hover .two{
                    display: none;
                }
            }
        }
    }
}

/* -------------------- What we do End -------------------- */

/* -------------------- Why choose us Start -------------------- */

.why-choose-us-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
    .why-choose-us{
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        
        .indi-box{
            box-shadow: rgba(11, 25, 44, 1) 0px 0px 10px 10px;
            padding: 20px;

            .heading{
                font-size: 25px;
            }

            .sub-heading{
                font-size: 20px;
            }
        }

        .left{
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: all ease-out 0.25s;
            gap: 50px;
        }

        .left:hover{
            width: 40%;
        }

        .middle{
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 250px;
            }
        }

        .right{
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: all ease-out 0.25s;
            gap: 50px;
        }

        .right:hover{
            width: 40%;
        }
    }
}

/* -------------------- Why choose us End -------------------- */

/* -------------------- Ending Start -------------------- */

.ending-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .ending{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        .message{
            font-family: 'Anton';
            font-size: 40px;
        }

        .sub-message{
            font-size: 20px;
            padding: 10px 0px;
            font-family: 'Antonio';
        }
    }

    .contact-info-main{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 50px;
        align-items: center;
        font-family: verdana;
        letter-spacing: 0.1px;

        .name-address{

            span{
                font-size: 30px;
            }
            
            p{
                font-size: 20px;
            }
        }

        .socials-main{
            width: auto;

            img{
                height: 40px;
                width: auto;
                margin: 10px;
            }
        }
    }
}

/* -------------------- Ending End -------------------- */